<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "Niklas Stephenson"%></title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <% if is_blog_article? %>
      <meta name="description" content="<%= current_page.data.description %>">
      <meta property="og:title" content="<%= current_page.data.title || "Niklas Stephenson"%>"/>
      <meta property="og:site_name" content="Niklas Stephenson"/>
      <meta property="og:url" content="http://www.stephenson.dk<%= current_page.url %>" />
      <meta property="og:description" content="<%= current_page.data.description %>" />
      <meta property="og:type" content="article" />
      <meta property="article:author" content="https://www.facebook.com/niklas.stephenson" />
    <% end %>
  </head>
  
  <body class="<%= page_classes %>">
    <header>
      <div class="title <%= current_page.data.nav_class %>">
        <h1>Niklas Stephenson</h1>
      </div>
      <nav class="<%= current_page.data.nav_class %>">
        <ol class="full">
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/adventures/">Adventures</a></li>
          <li><a href="/about/">About</a></li>
        </ol>
        <ol class="small">
          <li><a href="/menu/">Menu</a></li>
        </div>
      </nav>
    </header>
    <%= yield %>
    <%= stylesheet_link_tag "normalize", "all" %>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '548caad5e32bb42c06073959');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>