---
title: Facebook Adventure
date: 2014-12-13 22:39 UTC
description: Meeting up with strangers to go on a motorcycle adventure
tags:
nav_class: "sidebar"
---

In the spring my hunger for motorcycle adventures was at a peek, but as a newbie without a network of co-spirited people I turned to Facebook. I joined a group and invited strangers to join me on an extended weekend on our motorcycles to Sweden. We ended up as a four-man team consisting of Esben, Martin, Henrik and me.  Martin and Henrik was more experienced then me and Esben and their knowledge were so valuable. I am deeply thankful that they would travel with us.

We met up once before leaving, making loose plans and routes, talking about group dynamics and rules. We agreed to drive up to the Swedish GS meetup arrange by <a href="https://www.facebook.com/groups/gssyd/">GS Club Sweden</a>. If someone wished to leave the group it would not result in bad feelings. I enjoy meeting new people, but I like to keep my own control.

The trip started at Kastrup Airport close to the bridge between Denmark and Sweden. We quickly experienced our first test.

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1762.JPG", :description => "It turned out that Esben had a puncture on the front wheel, and as noobs we didn’t have any gear to fix it. We put in some puncture repair spray and headed over the bridge witch our GPS’s set for a open shop with spare parts."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1767.JPG", :description => "We got new inner tubes for all bikes, not only Esbens, and found some wood to build a center stand, thanks BMW for the missing center stand on the stock Sertao!"}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1772.JPG", :description => "Off with the tier, out with the new inner tube."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1781.JPG", :description => "It was a hard job to get the old inner tube out and the new in. Henrik and Martin did a good job! Sadly we managed to make a new hole in the brand new innertube, not once but twice ending up without more spare tubes (we used my spares too). We left Esben when we had called road service and he re-joined us later in the night."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1784.JPG", :description => "We setup camp in a great spot a bit off the road at a lovely lake. Martin’s big love for fire started to show; it would be a theme throughout the trip."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1789.JPG", :description => "Washing hands in the lake."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1792.JPG", :description => "Arriving at the GS Meetup campsite and with Esben back on the team."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1793.JPG", :description => "A lovely old traveler all the way from Germany."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1799.JPG", :description => "Martin and his bike."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1803.JPG", :description => "Out on a walk on a lovely ski route, we discussed if it would be legal to drive the route. We ware later told by the locals that it would be completely legal. Sadly we never got the chance to ride it."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1811.JPG", :description => "A lot of polished GS’s on  “adventure”."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1828.JPG", :description => "Henrik and his old GS. He just got a new BMW 1200GS Adventure."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1831.JPG", :description => "Starting to look like a real GS."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1835.JPG", :description => "Martin and his fires at a fantastic campsite deep in the woods."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1840.JPG", :description => "Next to the campsite was a large river joining the lake."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1866.JPG", :description => "Next to the campsite was a large river joining the lake."}) %>

<%= partial(:image, :locals => { :src => "/images/2014/facebook-trip/DSCF1867.JPG", :description => "The team, thanks for a great trip!"}) %>

The biggest learning from this trip is that you can have a fantastic time with people you don’t know around a hobby as motorcycle adventures. We formed friendships that are still growing stronger and have great memories together.

The second biggest learning is to have a repair kit with your to do all the normal repairs on your bike (plus the knowledge to do it), this is something I am still working on. 

Taking a trip with strangers was a great experience and defiantly something I will do again. It was a great foundation to grow my network within Danish adventures.

If you are looking to be a part of the great group of danish adventure rides your should join <a href="https://www.facebook.com/groups/motorcykeleventyr/">Motorcykeleventyr.dk</a> on Facebook.

Thanks for a great trip Esben, Henrik and Martin.